@page "/Notice"
@using KCB.Data
@using System.Collections;
@using Syncfusion.Blazor.Inputs
@using System.IO
@inject NavigationManager _navigationManager
@inject DataBase database

<div class="Notice_Panel" style="flex-direction:column">
    <div style="width: 100%; height: 10%; background-color: #44a16d;"><p style="font-size: 36px; font-weight: bold; margin: auto;">Notices</p></div>

    <div class="Notice_Panel" style="flex-direction:row; width: 100%;box-shadow: none; border-radius: 2px; margin: unset">
        <div id="Notice_Nav_Panel">
            <button style="@design1" class="Notice_Nav_Panelb" @onclick="exam_btn">Exam</button>
            <button style="@design2" class="Notice_Nav_Panelb" @onclick="ua_btn">Undergraduate Academic</button>
            <button style="@design3" class="Notice_Nav_Panelb" @onclick="ga_btn">Graduate Academic</button>
            <button style="@design4" class="Notice_Nav_Panelb" @onclick="event_btn">Event</button>
            <button style="@design5" class="Notice_Nav_Panelb" @onclick="adm_btn">Admission</button>
            @if (NavMenu.adminpermission)
            {
                <div style="background-color: #c6c6c69e; overflow: auto">
                    <p style="font-size: 30px; margin: auto;">Upload</p>
                    <input id="Username_in" placeholder="type your Notice" style="background-image: none; width: 100%;" @bind="notice_data" type="text" /><br />
                    <SfUploader ID="UploadFiles" AutoUpload="false">
                        <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                    </SfUploader>
                    <div style="display: flex; flex-direction: row">
                        <button class="Notice_Nav_Panelb" @onclick="delete_notice" style="color: red;">Delete</button>
                        <button class="Notice_Nav_Panelb" @onclick="done">Done</button>
                    </div>

                </div>
            }
        </div>
        <select @ondblclick="ddone" @bind="ddata" class="Notice_Display_Panel" size=1000>
            <br />
            @for (var i = 0; i < data.Count; i++)
            {
                <option class="nfile" style="display: flex; flex-direction: row; text-align: left;border-bottom: 1px solid black; margin: 5px; font-size: 24px;">
                    <label>@data[i]</label>
                </option>
            }
        </select>
    </div>

</div>

@code {
    ArrayList examlist = new ArrayList();
    ArrayList ualist = new ArrayList();
    ArrayList galist = new ArrayList();
    ArrayList eventlist = new ArrayList();
    ArrayList admlist = new ArrayList();
    ArrayList data = new ArrayList();
    ArrayList fexamlist = new ArrayList();
    ArrayList fualist = new ArrayList();
    ArrayList fgalist = new ArrayList();
    ArrayList feventlist = new ArrayList();
    ArrayList fadmlist = new ArrayList();
    ArrayList fdata = new ArrayList();
    string design1;
    string design2;
    string design3;
    string design4;
    string design5;
    string pathx;
    string notice_data;
    string ddata;

    protected override void OnInitialized()
    {
        examlist = database.get_notice("exam");
        ualist = database.get_notice("ua");
        galist = database.get_notice("ga");
        eventlist = database.get_notice("event");
        admlist = database.get_notice("adm");
        fexamlist = database.get_noticef("exam");
        fualist = database.get_noticef("ua");
        fgalist = database.get_noticef("ga");
        feventlist = database.get_noticef("event");
        fadmlist = database.get_noticef("adm");
        exam_btn();
    }

    public void OnChange(UploadChangeEventArgs args)
    {
        var path = "";
        foreach (var file in args.Files)
        {
            path = pathx + file.FileInfo.Name;
            FileStream filestream = new FileStream("wwwroot/" + path, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
        if (design1 != "")
        {

            database.creat_notice(notice_data, path, "exam");
        }
        else if (design2 != "")
        {
            database.creat_notice(notice_data, path, "ua");
        }
        else if (design3 != "")
        {
            database.creat_notice(notice_data, path, "ga");
        }
        else if (design4 != "")
        {
            database.creat_notice(notice_data, path, "event");
        }
        else if (design5 != "")
        {
            database.creat_notice(notice_data, path, "adm");
        }


    }
    private void done()
    {
        _navigationManager.NavigateTo("/Notice", true);
    }

    private void ddone()
    {
        string ffdate = "";
        if (design1 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (examlist[i].ToString() == ddata)
                {
                    ffdate = fexamlist[i].ToString();
                }
            }
            _navigationManager.NavigateTo(ffdate, true);
        }
        else if (design2 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (ualist[i].ToString() == ddata)
                {
                    ffdate = fualist[i].ToString();
                }
            }
            _navigationManager.NavigateTo(ffdate, true);
        }
        else if (design3 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (galist[i].ToString() == ddata)
                {
                    ffdate = fgalist[i].ToString();
                }
            }
            _navigationManager.NavigateTo(ffdate, true);
        }
        else if (design4 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (eventlist[i].ToString() == ddata)
                {
                    ffdate = feventlist[i].ToString();
                }
            }
            _navigationManager.NavigateTo(ffdate, true);
        }
        else if (design5 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (admlist[i].ToString() == ddata)
                {
                    ffdate = fadmlist[i].ToString();
                }
            }
            _navigationManager.NavigateTo(ffdate, true);
        }
    }
    private void exam_btn()
    {
        data = examlist;
        fdata = fexamlist;
        design1 = "background-color: #44a16d;";
        design2 = "";
        design3 = "";
        design4 = "";
        design5 = "";
        pathx = "Notices/exam/";
    }

    private void ua_btn()
    {
        data = ualist;
        fdata = fualist;
        design2 = "background-color: #44a16d;";
        design1 = "";
        design3 = "";
        design4 = "";
        design5 = "";
        pathx = "Notices/ua/";
    }

    private void ga_btn()
    {
        data = galist;
        fdata = fgalist;
        design3 = "background-color: #44a16d;";
        design1 = "";
        design2 = "";
        design4 = "";
        design5 = "";
        pathx = "Notices/ga/";
    }

    private void event_btn()
    {
        data = eventlist;
        fdata = feventlist;
        design4 = "background-color: #44a16d;";
        design1 = "";
        design2 = "";
        design3 = "";
        design5 = "";
        pathx = "Notices/event/";
    }

    private void adm_btn()
    {
        data = admlist;
        fdata = fadmlist;
        design5 = "background-color: #44a16d;";
        design1 = "";
        design2 = "";
        design3 = "";
        design4 = "";
        pathx = "Notices/adm/";
    }

    private void delete_notice()
    {
        string name = ddata;
        string ffdate = "";
        if (design1 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (examlist[i].ToString() == ddata)
                {
                    ffdate = fexamlist[i].ToString();
                }
            }
            database.delete_notice(name, "exam");
            File.Delete("wwwroot/" + ffdate);
        }
        else if (design2 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (ualist[i].ToString() == ddata)
                {
                    ffdate = fualist[i].ToString();
                }
            }
            database.delete_notice(name, "ua");
            File.Delete("wwwroot/" + ffdate);
        }
        else if (design3 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (galist[i].ToString() == ddata)
                {
                    ffdate = galist[i].ToString();
                }
            }
            database.delete_notice(name, "ga");
            File.Delete("wwwroot/" + ffdate);
        }
        else if (design4 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (eventlist[i].ToString() == ddata)
                {
                    ffdate = feventlist[i].ToString();
                }
            }
            database.delete_notice(name, "event");
            File.Delete("wwwroot/" + ffdate);
        }
        else if (design5 != "")
        {
            for (var i = 0; i < examlist.Count; i++)
            {
                if (admlist[i].ToString() == ddata)
                {
                    ffdate = fadmlist[i].ToString();
                }
            }
            database.delete_notice(name, "adm");
            File.Delete("wwwroot/" + ffdate);
        }
        _navigationManager.NavigateTo("/Notice", true);
    }

}
