@page "/Notice"

<div class="Notice_Panel" style="flex-direction:column">
    <div style="width: 100%; height: 10%; background-color: #44a16d;"><p style="font-size: 36px; font-weight: bold; margin: auto;">Notices</p></div>
    <div class="Notice_Panel" style="flex-direction:row; width: 100%;box-shadow: none; border-radius: 2px; margin: unset">
        <div id="Notice_Nav_Panel">
            <button>Exam</button>
            <button>Undergraduate Academic</button>
            <button>Graduate Academic</button>
            <button>Event</button>
            <button>Admission</button>
        </div>
        <div class="Notice_Display_Panel" style="display: @exam_visibility">
            <br />
            @for (var i = 0; i < 10; i++)
            {
                <div class="nfile" style="display: flex; flex-direction: row; text-align: left;border-bottom: 1px solid black; margin: 5px;">
                    <img src="/Images/Delete.png" />
                    <a style="font-size:24px; margin: auto;">Contenssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssst</a>

                </div>
            }
        </div>
        <div style="display: @ua_visibility"></div>
        <div style="display: @ga_visibility"></div>
        <div style="display: @event_visibility"></div>
        <div style="display: @admission_visibility"></div>
    </div>
</div>

@code {
    public string exam_visibility = "flex";
    public string ua_visibility = "none";
    public string ga_visibility = "none";
    public string event_visibility = "none";
    public string admission_visibility = "none";
}
