@page "/PayFee"
@using System.IO
@using iText
@using KCB.Data
@using MongoDB.Bson;
@using System.Collections;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage BrowserStorage
@inject IJSRuntime JsRuntime;
@inject DataBase database
@implements IDisposable

<div id="PayFee_Panel">
    <div id="Pay_Nav_Panel">
        <button @onclick="course_reg">Course Registration</button>
        <button @onclick="hall_fee">Hall Fee</button>
        <button @onclick="library_fee">Library Fee</button>
        <button @onclick="utility_fee">Utility Fee</button>
    </div>
    <div id="Pay_Display_Panel">
        <div id="default_pay" style="display:@default_visibility;">
            <p align="center" style="font-size: 36px;margin: 100px;">Welcome to Online Payment</p>
            <img draggable="false" src="Images/payment_image.png" />
        </div>
        <div id="course_reg" style="display:@course_visibility; height: 100%;">
            <div id="course_reg_form" style="display:flex; flex-direction:column;border-right:1px solid black;">
                <br />
                <p style="font-size: 22px; font-weight: bold;">Khulna University of Engineering & Technology</p>
                <p style="font-size: 22px; font-weight: bold;">Course Registration Form</p>
                <br />
                <br />
                <div style="display:flex; flex-direction:row">
                    <div id="course_reg_label" style="display:flex; flex-direction:column;">
                        <label>Fee Each Term:</label>
                        <label>Course Registration Fee:</label>
                        <label>Seat Fee:</label>
                        <label>Exam Fee:</label>
                        <label>Grade Sheet:</label>
                        <label>Student Facility Fee:</label>
                        <label>Cultural Fee:</label>
                    </div>
                    <div id="course_reg_value" style="display:flex; flex-direction:column">
                        <input type="number" placeholder="320" @bind="cr0" />
                        <input type="number" placeholder="500" @bind="cr1" />
                        <input type="number" placeholder="40" @bind="cr2" />
                        <input type="number" placeholder="350" @bind="cr3" />
                        <input type="number" placeholder="25" @bind="cr4" />
                        <input type="number" placeholder="545" @bind="cr5" />
                        <input type="number" placeholder="85" @bind="cr6" />
                    </div>
                </div>
            </div>
            <div id="course_reg_form" style="display:flex; flex-direction:column;margin-left: 50px; ">
                <br />
                <br />
                <br />
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Fee Each Term:</label>
                        <label>Course Registration Fee:</label>
                        <label>Seat Fee:</label>
                        <label>Exam Fee:</label>
                        <label>Grade Sheet:</label>
                        <label>Student Facility Fee:</label>
                        <label>Cultural Fee:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 150px;">
                        <label>TK @cr0</label>
                        <label>TK @cr1</label>
                        <label>TK @cr2</label>
                        <label>TK @cr3</label>
                        <label>TK @cr4</label>
                        <label>TK @cr5</label>
                        <label>TK @cr6</label>
                    </div>
                </div>
                <label style="border: 1px solid black; height: 2px; width: 500px"></label>
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Total Fee:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 280px;">
                        <label>TK @(int.Parse(cr0) + int.Parse(cr1) + int.Parse(cr2) + int.Parse(cr3) + int.Parse(cr4) + int.Parse(cr5) + int.Parse(cr6))</label>
                    </div>
                </div>
                <p align="center">
                    <button @onclick="payment">Pay Now</button>
                </p>
            </div>
        </div>
        <div id="hall_fee" style="display:@hall_visibility; height: 100%;">
            <div id="Hall_fee_form" style="display:flex; flex-direction:column;border-right:1px solid black;">
                <br />
                <p style="font-size: 22px; font-weight: bold;">Khulna University of Engineering & Technology</p>
                <p style="font-size: 22px; font-weight: bold;">Hall Fee</p>
                <br />
                <br />
                <div style="display:flex; flex-direction:row; overflow-y:scroll">
                    <div id="course_reg_label" style="display:flex; flex-direction:column;">
                        <label>Messing Fee:</label>
                        <label>Admission:</label>
                        <label>Establishment:</label>
                        <label>Feast:</label>
                        <label>Utensil:</label>
                        <label>Hall Library:</label>
                        <label>TV/Dish Antena:</label>
                        <label>Seat Rent:</label>
                        <label>Water Supply:</label>
                        <label>Miscellaneous:</label>
                        <label>Religion:</label>
                    </div>
                    <div id="course_reg_value" style="display:flex; flex-direction:column">
                        <input type="number" placeholder="1100" @bind="hf0" />
                        <input type="number" placeholder="60" @bind="hf1" />
                        <input type="number" placeholder="400" @bind="hf2" />
                        <input type="number" placeholder="200" @bind="hf3" />
                        <input type="number" placeholder="100" @bind="hf4" />
                        <input type="number" placeholder="60" @bind="hf5" />
                        <input type="number" placeholder="60" @bind="hf6" />
                        <input type="number" placeholder="50" @bind="hf7" />
                        <input type="number" placeholder="100" @bind="hf8" />
                        <input type="number" placeholder="100" @bind="hf9" />
                        <input type="number" placeholder="60" @bind="hf10" />
                    </div>
                </div>
            </div>
            <div id="Hall_fee_form" style="display:flex; flex-direction:column;margin-left: 50px; ">
                <br />
                <br />
                <br />
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Messing Fee:</label>
                        <label>Admission:</label>
                        <label>Establishment:</label>
                        <label>Feast:</label>
                        <label>Utensil:</label>
                        <label>Hall Library:</label>
                        <label>TV/Dish Antena:</label>
                        <label>Seat Rent:</label>
                        <label>Water Supply:</label>
                        <label>Miscellaneous:</label>
                        <label>Religion:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 220px;">
                        <label>TK @hf0</label>
                        <label>TK @hf1</label>
                        <label>TK @hf2</label>
                        <label>TK @hf3</label>
                        <label>TK @hf4</label>
                        <label>TK @hf5</label>
                        <label>TK @hf6</label>
                        <label>TK @hf7</label>
                        <label>TK @hf8</label>
                        <label>TK @hf9</label>
                        <label>TK @hf10</label>
                    </div>
                </div>
                <label style="border: 1px solid black; height: 2px; width: 500px"></label>
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Total Fee:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 280px;">
                        <label>TK @(int.Parse(hf0) + int.Parse(hf1) + int.Parse(hf2) + int.Parse(hf3) + int.Parse(hf4) + int.Parse(hf5) + int.Parse(hf6) + int.Parse(hf7) + int.Parse(hf8) + int.Parse(hf9) + int.Parse(hf10))</label>
                    </div>
                </div>
                <p align="center">
                    <button @onclick="payment">Pay Now</button>
                </p>
            </div>
        </div>
        <div id="library_fee" style="display:@library_visibility;  height: 100%;">
            <div id="Library_fee_form" style="display:flex; flex-direction:column;border-right:1px solid black;">
                <br />
                <p style="font-size: 22px; font-weight: bold;">Khulna University of Engineering & Technology</p>
                <p style="font-size: 22px; font-weight: bold;">Library Fee</p>
                <br />
                <br />
                <div style="display:flex; flex-direction:row;">
                    <div id="course_reg_label" style="display:flex; flex-direction:column;">
                        <label>Library Fee:</label>
                        <label>Fines:</label>
                    </div>
                    <div id="course_reg_value" style="display:flex; flex-direction:column">
                        <input type="number" @bind="lf0" />
                        <input type="number" @bind="lf1" />
                    </div>
                </div>
            </div>
            <div id="Hall_fee_form" style="display:flex; flex-direction:column;margin-left: 50px; ">
                <br />
                <br />
                <br />
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Library Fee:</label>
                        <label>Fines:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 250px;">
                        <label>TK @lf0</label>
                        <label>TK @lf1</label>
                    </div>
                </div>
                <label style="border: 1px solid black; height: 2px; width: 500px"></label>
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Total Fee:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 280px;">
                        <label>TK @(int.Parse(lf0) + int.Parse(lf1))</label>
                    </div>
                </div>
                <p align="center">
                    <button @onclick="payment">Pay Now</button>
                </p>
            </div>
        </div>
        <div id="utility_fee" style="display:@utility_visibility; height: 100%">
            <div id="Library_fee_form" style="display:flex; flex-direction:column;border-right:1px solid black;">
                <br />
                <p style="font-size: 22px; font-weight: bold;">Khulna University of Engineering & Technology</p>
                <p style="font-size: 22px; font-weight: bold;">Library Fee</p>
                <br />
                <br />
                <div style="display:flex; flex-direction:row;">
                    <div id="course_reg_label" style="display:flex; flex-direction:column;">
                        <label>Literature & Culture:</label>
                        <label>Internet Fee:</label>
                        <label>Electricity Fee:</label>
                        <label>Tour & Feastival:</label>
                    </div>
                    <div id="course_reg_value" style="display:flex; flex-direction:column">
                        <input type="number" @bind="uf0" />
                        <input type="number" @bind="uf1" />
                        <input type="number" @bind="uf2" />
                        <input type="number" @bind="uf3" />
                    </div>
                </div>
            </div>
            <div id="Hall_fee_form" style="display:flex; flex-direction:column;margin-left: 50px; ">
                <br />
                <br />
                <br />
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Literature & Culture:</label>
                        <label>Internet Fee:</label>
                        <label>Electricity Fee:</label>
                        <label>Tour & Feastival:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 190px;">
                        <label>TK @uf0</label>
                        <label>TK @uf1</label>
                        <label>TK @uf2</label>
                        <label>TK @uf3</label>
                    </div>
                </div>
                <label style="border: 1px solid black; height: 2px; width: 500px"></label>
                <div style="display:flex; flex-direction:row;">
                    <div id="course_f_label" style="display:flex; flex-direction:column;">
                        <label>Total Fee:</label>
                    </div>
                    <div id="course_f_label" style="display:flex; flex-direction:column; margin-left: 280px;">
                        <label>TK @(int.Parse(uf0) + int.Parse(uf1) + int.Parse(uf2) + int.Parse(uf3))</label>
                    </div>
                </div>
                <p align="center">
                    <button @onclick="payment">Pay Now</button>
                </p>
            </div>
        </div>
        <div id="payment" style="display:@payment_visibility; height: 100%; width:100%;flex-direction:column">
            <p style="font-size: 36px; font-weight: bold;margin:auto; margin-bottom: 50px;">Choose Payment Method</p>
            <div style="display:flex; flex-direction:column; margin:auto;">
                <button @onclick="bkash_payment">
                    BKash
                    <img src="/Images/bkash.png" style="height: 30px; width: 30px" />
                </button>
                <button @onclick="card_payment">
                    Credit/Debit card
                    <img src="/Images/mc.png" style="height: 30px; width: 30px" />
                    <img src="/Images/vs.png" style="height: 30px; width: 30px" />
                </button>
                <button @onclick="bank_payment">
                    Bank
                    <img src="/Images/bk.png" style="height: 30px; width: 30px" />
                </button>
            </div>
        </div>
        <div id="bk_payment" style="display:@bkash_visibility; height: 100%; width:100%;flex-direction:column">
            <p style="font-size: 36px; font-weight: bold;margin:auto; margin-bottom: 50px;">
                BKash
                <img src="/Images/bkash.png" style="height: 50px; width: 50px" />
            </p>
            <div style="display:flex; flex-direction:row; margin:auto;">
                <div style="display:flex; flex-direction:column">
                    <label style="font-size: 20px;margin: 12px;">Mobile Number:</label>
                    <label style="font-size: 20px;margin: 12px;">Amount:</label>
                </div>
                <div style="display:flex; flex-direction:column">
                    <input type="number" placeholder="Type Mobile Number" @bind="mobile" />
                    <input type="number" value="@amount" />
                </div>
            </div>
            <p style="color:red; font-size: 20px">@warning</p>
            <button @onclick="done_payment">Process Payment</button>
        </div>
        <div id="bk_payment" style="display:@cd_visibility; height: 100%; width:100%;flex-direction:column">
            <p style="font-size: 36px; font-weight: bold;margin:auto; margin-bottom: 50px;">
                Credit/Debit Card
                <img src="/Images/mc.png" style="height: 50px; width: 50px" />
            </p>
            <div style="display:flex; flex-direction:row; margin:auto;">
                <div style="display:flex; flex-direction:column">
                    <label style="font-size: 20px;margin: 12px;">Mobile Number:</label>
                    <label style="font-size: 20px;margin: 12px;">Amount:</label>
                </div>
                <div style="display:flex; flex-direction:column">
                    <input type="number" placeholder="Type Card Number with CVV" @bind="mobile" />
                    <input type="number" value="@amount" />
                </div>
            </div>
            <p style="color:red; font-size: 20px">@warning</p>
            <button @onclick="done_payment">Process Payment</button>
        </div>
        <div id="bk_payment" style="display:@bank_visibility; height: 100%; width:100%;flex-direction:column">
            <p style="font-size: 36px; font-weight: bold;margin:auto; margin-bottom: 50px;">
                Bank
                <img src="/Images/bk.png" style="height: 50px; width: 50px" />
            </p>
            <div style="display:flex; flex-direction:row; margin:auto;">
                <div style="display:flex; flex-direction:column">
                    <label style="font-size: 20px;margin: 12px;">Mobile Number:</label>
                    <label style="font-size: 20px;margin: 12px;">Amount:</label>
                </div>
                <div style="display:flex; flex-direction:column">
                    <input type="number" placeholder="Type Bank Number with Bank Code" @bind="mobile" />
                    <input type="number" value="@amount" />
                </div>
            </div>
            <p style="color:red; font-size: 20px">@warning</p>
            <button @onclick="done_payment">Process Payment</button>
        </div>
        <div id="done_payment" style="display:@done_visibility; height: 100%; width:100%;flex-direction:column">
            <div style="margin:auto; display: flex; flex-direction: row">
                <img style="height: 100px; width: 100px; margin: 10px;" src="/Images/payment Done.png" />
                <p style="font-size: 36px; font-weight: bold; margin-top: 30px;">Payment Complete</p>
            </div>
            <a href="/receipt.pdf" download>Download Receipt</a>

        </div>
    </div>
</div>

@code {
    public string default_visibility = "block";
    public string course_visibility = "none";
    public string hall_visibility = "none";
    public string library_visibility = "none";
    public string utility_visibility = "none";
    public string payment_visibility = "none";
    public string bkash_visibility = "none";
    public string cd_visibility = "none";
    public string bank_visibility = "none";
    public string done_visibility = "none";
    string fdata1;
    string fdata2;
    string fdata3;
    string fdata4;
    string fdata5;
    string fdata6;
    string cr0 = "320";
    string cr1 = "500";
    string cr2 = "40";
    string cr3 = "350";
    string cr4 = "25";
    string cr5 = "545";
    string cr6 = "85";
    string hf0 = "1100";
    string hf1 = "60";
    string hf2 = "400";
    string hf3 = "200";
    string hf4 = "100";
    string hf5 = "60";
    string hf6 = "60";
    string hf7 = "50";
    string hf8 = "100";
    string hf9 = "100";
    string hf10 = "60";
    string lf0 = "25";
    string lf1 = "5";
    string uf0 = "60";
    string uf1 = "120";
    string uf2 = "100";
    string uf3 = "250";
    string mobile = "";
    int total = 0;
    string amount = "";
    string warning = "";
    string feetype = "";

    public void course_reg()
    {
        default_visibility = "none";
        course_visibility = "flex";
        hall_visibility = "none";
        library_visibility = "none";
        utility_visibility = "none";
        payment_visibility = "none";
        bkash_visibility = "none";
        cd_visibility = "none";
        bank_visibility = "none";
        done_visibility = "none";
        feetype = "";
    }

    public void hall_fee()
    {
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "flex";
        library_visibility = "none";
        utility_visibility = "none";
        payment_visibility = "none";
        bkash_visibility = "none";
        cd_visibility = "none";
        bank_visibility = "none";
        done_visibility = "none";
        feetype = "";
    }

    public void library_fee()
    {
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "none";
        library_visibility = "flex";
        utility_visibility = "none";
        payment_visibility = "none";
        bkash_visibility = "none";
        cd_visibility = "none";
        bank_visibility = "none";
        done_visibility = "none";
        feetype = "";
    }

    public void utility_fee()
    {
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "none";
        library_visibility = "none";
        utility_visibility = "flex";
        payment_visibility = "none";
        bkash_visibility = "none";
        cd_visibility = "none";
        bank_visibility = "none";
        done_visibility = "none";
        feetype = "";
    }

    protected async Task payment()
    {
        if (course_visibility == "none" && library_visibility == "none" && utility_visibility == "none")
        {
            total = int.Parse(hf0) + int.Parse(hf1) + int.Parse(hf2) + int.Parse(hf3) + int.Parse(hf4) + int.Parse(hf5) + int.Parse(hf6) + int.Parse(hf7) + int.Parse(hf8) + int.Parse(hf9) + int.Parse(hf10);
            await JsRuntime.InvokeAsync<object>("WriteCookie.WriteCookie", "total", total.ToString(), DateTime.Now.AddMinutes(1));
            feetype = "Hall Fee";
        }
        else if (hall_visibility == "none" && library_visibility == "none" && utility_visibility == "none")
        {
            total = int.Parse(cr0) + int.Parse(cr1) + int.Parse(cr2) + int.Parse(cr3) + int.Parse(cr4) + int.Parse(cr5) + int.Parse(cr6);
            await JsRuntime.InvokeAsync<object>("WriteCookie.WriteCookie", "total", total.ToString(), DateTime.Now.AddMinutes(1));
            feetype = "Course Fee";
        }
        else if (course_visibility == "none" && hall_visibility == "none" && utility_visibility == "none")
        {
            total = int.Parse(lf0) + int.Parse(lf1);
            await JsRuntime.InvokeAsync<object>("WriteCookie.WriteCookie", "total", total.ToString(), DateTime.Now.AddMinutes(1));
            feetype = "Library Fee";
        }
        else if (course_visibility == "none" && hall_visibility == "none" && library_visibility == "none")
        {
            total = int.Parse(uf0) + int.Parse(uf1) + int.Parse(uf2) + int.Parse(uf3);
            await JsRuntime.InvokeAsync<object>("WriteCookie.WriteCookie", "total", total.ToString(), DateTime.Now.AddMinutes(1));
            feetype = "Utility";
        }
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "none";
        library_visibility = "none";
        utility_visibility = "none";
        payment_visibility = "flex";
        bkash_visibility = "none";
        cd_visibility = "none";
        bank_visibility = "none";
        done_visibility = "none";
    }

    protected async Task bkash_payment()
    {

        amount = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "total");
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "none";
        library_visibility = "none";
        utility_visibility = "none";
        payment_visibility = "none";
        bkash_visibility = "flex";
        cd_visibility = "none";
        bank_visibility = "none";
        done_visibility = "none";
        warning = "";
    }

    protected async Task card_payment()
    {

        amount = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "total");
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "none";
        library_visibility = "none";
        utility_visibility = "none";
        payment_visibility = "none";
        bkash_visibility = "none";
        cd_visibility = "flex";
        bank_visibility = "none";
        done_visibility = "none";
        warning = "";
    }

    protected async Task bank_payment()
    {

        amount = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "total");
        default_visibility = "none";
        course_visibility = "none";
        hall_visibility = "none";
        library_visibility = "none";
        utility_visibility = "none";
        payment_visibility = "none";
        bkash_visibility = "none";
        cd_visibility = "none";
        bank_visibility = "flex";
        done_visibility = "none";
        warning = "";
    }

    public async Task done_payment()
    {
        if (bkash_visibility != "none")
        {
            if (mobile != "" && mobile.Length == 11)
            {
                pdf_maker();
                default_visibility = "none";
                course_visibility = "none";
                hall_visibility = "none";
                library_visibility = "none";
                utility_visibility = "none";
                payment_visibility = "none";
                bkash_visibility = "none";
                cd_visibility = "none";
                bank_visibility = "none";
                done_visibility = "flex";
                var result = await BrowserStorage.GetAsync<string>("name");
                string Username = result.Value.ToString();
                database.add_transaction(Username, "BKash", mobile, amount, feetype);
            }

            else
            {
                warning = "Invalid mobile number";
            }
        }
        else if (cd_visibility != "none")
        {
            if (mobile != "" && mobile.Length == 19)
            {
                pdf_maker();
                default_visibility = "none";
                course_visibility = "none";
                hall_visibility = "none";
                library_visibility = "none";
                utility_visibility = "none";
                payment_visibility = "none";
                bkash_visibility = "none";
                cd_visibility = "none";
                bank_visibility = "none";
                done_visibility = "flex";
                var result = await BrowserStorage.GetAsync<string>("name");
                string Username = result.Value.ToString();
                database.add_transaction(Username, "Card", mobile, amount, feetype);
            }

            else
            {
                warning = "Invalid mobile number";
            }
        }
        else if (bank_visibility != "none")
        {
            if (mobile != "" && mobile.Length == 20)
            {
                pdf_maker();
                default_visibility = "none";
                course_visibility = "none";
                hall_visibility = "none";
                library_visibility = "none";
                utility_visibility = "none";
                payment_visibility = "none";
                bkash_visibility = "none";
                cd_visibility = "none";
                bank_visibility = "none";
                done_visibility = "flex";
                var result = await BrowserStorage.GetAsync<string>("name");
                string Username = result.Value.ToString();
                database.add_transaction(Username, "Bank", mobile, amount, feetype);
            }

            else
            {
                warning = "Invalid mobile number";
            }
        }
    }

    public async void pdf_maker()
    {
        BsonDocument fdata = new BsonDocument { };
        fdata = database.latest_hostory();
        var text = @"
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Receipt</h2>

<table>
  <tr>
    <th>User ID</th>
    <th>" + fdata["user"] + @"</th>
  </tr>
  <tr>
    <td>Transaction ID</td>
    <td> "+ fdata["t_id"] +@" </td>
  </tr>
  <tr>
    <td>Payment Method</td>
    <td> " + fdata["type"] +@"</td>
  </tr>
  <tr>
    <td>Account Number</td>
    <td>" + fdata["t_acc"] +@"</td>
  </tr>
  <tr>
    <td>Amount</td>
    <td> " + fdata["amount"] +@"TK</td>
  </tr>
  <tr>
    <td>Due Type</td>
    <td>" + fdata["fee_type"] + @"</td>
  </tr>

</table>

</body>
</html>


";
        string html = text;
        File.WriteAllText("receipt.html", html);
        iText.Html2pdf.HtmlConverter.ConvertToPdf(
        new FileInfo("receipt.html"),
        new FileInfo("wwwroot/receipt.pdf"));
    }

    public void Dispose()
    {
        File.Delete("receipt.html");
        File.Delete("wwwroot/receipt.pdf");
    }
    }
